body {
    color: #262626;
    font-family: "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.h1, h1 {
    font-size: 2.0rem;
}

header {
    margin-bottom: 2rem;
}

i + span,
svg + span,
td > a + a {
    margin-left: .5rem;
}

footer {
    margin-top: 2rem;
}

.public-leaderboard {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

    .public-leaderboard h1 {
        margin-bottom: 2rem;
    }

.navbar {
    border-bottom: 1px solid #E3E3E3;
}

.navbar-brand span {
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

a,
.btn-link {
    color: #3672B5;
}

    .btn-link:hover {
        color: #2d5f98;
    }

.nav-item,
.navbar-text {
    font-size: 13px;
}

.bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .navbar-text {
    color: #262626;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #262626;
        border-bottom: 2px solid #262626;
    }

.btn {
    border-radius: 2px;
}

.btn-primary {
    color: #fff;
    background-color: #3672B5;
    border-color: #3672B5;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #2d5f98;
        border-color: #2a598e;
    }

    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #2a598e;
        border-color: #275384;
    }

    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(54, 114, 181, 0.5);
    }

.btn-outline-primary {
    color: #3672B5;
    background-color: transparent;
    background-image: none;
    border-color: #3672B5;
}

    .btn-outline-primary:active,
    .btn-outline-primary.active,
    .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #3672B5;
        border-color: #3672B5;
    }

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #3672B5;
        border-color: #3672B5;
    }

    .btn-outline-primary:focus,
    .btn-outline-primary.focus {
        box-shadow: 0 0 0 3px rgba(54, 114, 181, 0.5);
    }


section + section {
    margin-top: 2rem;
}


h1 + table {
    margin-top: 2rem;
}

/* https://pinetools.com/gradient-generator */

.table-ranked tr:nth-child(1) td {
    background-color: #0097CE;
}

.table-ranked tr:nth-child(2) td,
.table-ranked tr:nth-child(3) td,
.table-ranked tr:nth-child(4) td {
    background-color: #00B8C9;
}

.table-ranked tr:nth-child(5) td,
.table-ranked tr:nth-child(6) td,
.table-ranked tr:nth-child(7) td {
    background-color: #00D5AC;
}

.table-ranked tr:nth-child(8) td,
.table-ranked tr:nth-child(9) td,
.table-ranked tr:nth-child(10) td {
    background-color: #92EB87;
}

.table-ranked tr:nth-child(11) td,
.table-ranked tr:nth-child(12) td,
.table-ranked tr:nth-child(13) td {
    background-color: #F9F871;
}

.alert-info {
    color: #3672B5;
    border: none;
    background-color: #DFF1FF;
}