@page "/Contests/{contestId:Guid}/Learners/{learnerId:Guid}/Edit"
@model Praxeum.WebApp.Pages.Contests.Learners.EditModel

@{
    ViewData["Title"] = "Edit Contest Learner";
}

<h1>Edit Learner</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Learner.DisplayName"></label>
        <p class="form-control-static">@Model.Learner.DisplayName</p>
    </div>
    <div class="form-group">
        <label asp-for="Learner.UserName"></label>
        <p class="form-control-static">@Model.Learner.UserName</p>
    </div>
    <div class="form-group">
        <label asp-for="Learner.StartValue"></label>
        <input asp-for="Learner.StartValue" class="form-control" />
        <span asp-validation-for="Learner.StartValue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Learner.CurrentValue"></label>
        <p class="form-control-static">@Model.Learner.CurrentValue</p>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i><span>Save Changes</span></button>
    <a class="btn btn-link" asp-page="./Details">Cancel</a>
</form>