@page
@model IndexModel
@{
    ViewData["Title"] = "Learners";
}

<h1>Learners</h1>
<p>The learners below encountered errors during the import process.</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Error Message</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var learner in Model.Learners)
        {
        <tr>
            <td class="text-danger">@learner.UserName</td>
            <td class="text-danger">@learner.StatusMessage</td>
            <td><a href="https://techprofile.microsoft.com/@learner.UserName" class="d-none d-lg-inline text-danger">https://techprofile.microsoft.com/@learner.UserName</a><a href="https://techprofile.microsoft.com/@learner.UserName" target="_blank"><i class="fas fa-external-link-alt text-danger"></i></a></td>
        </tr>
        }
    </tbody>
</table>

<a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i><span>Add Learner</span></a>
