@page "/Teams/{id:Guid}"
@model DetailsModel

@{
    ViewData["Title"] = "Team";
}

<h1>Team</h1>

<form>
    <div class="form-group">
        <label asp-for="Team.Name"></label>
        <p class="form-control-static">@Model.Team.Name</p>
    </div>
    <div class="form-check">
        @if (Model.Team.IsActive)
        {
            <i class="far fa-check-square"></i>
        }
        else
        {
            <i class="far fa-square"></i>
        }
        <label asp-for="Team.IsActive" class="form-check-label"></label>
    </div>
</form>

<a asp-page="Edit" class="btn btn-primary">Edit</a>
<a asp-page="Delete" class="btn btn-link">Delete</a>
<a asp-page="Index" class="btn btn-link">Back to Teams</a>
