@page
@model IndexModel
@{
    ViewData["Title"] = "Learners";
}

<h1>Learners</h1>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td class="text-center">Level</td>
            <td class="text-center">Points</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var learner in Model.Learners)
        {
        <tr>
            <td>@learner.DisplayName<small class="text-muted ml-2">@learner.UserName</small></td>
            <td class="text-center">@learner.ProgressStatus.CurrentLevel</td>
            <td class="text-center">@learner.ProgressStatus.CurrentLevelPointsEarned/@learner.ProgressStatus.TotalPoints</td>
            <td><a href="https://techprofile.microsoft.com/@learner.UserName">https://techprofile.microsoft.com/@learner.UserName</a><a href="https://techprofile.microsoft.com/@learner.UserName" target="_blank"><i class="fal fa-external-link"></i></a></td>
        </tr>
        }
    </tbody>
</table>

<a asp-page="Create" class="btn btn-primary"><i class="fal fa-plus"></i><span>Add Learner</span></a>
