@page "{id:Guid}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete Leader Board";
}

<h1>Delete Leader Board</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="LeaderBoard.Name"></label>
        <p class="form-control-static">@Model.LeaderBoard.Name</p>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.LeaderBoard.Description))
    {
        <div class="form-group">
            <label asp-for="LeaderBoard.Description"></label>
            <p class="form-control-static">@Model.LeaderBoard.Description</p>
        </div>
    }
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i><span>Delete</span></button>
    <a class="btn btn-link" asp-page="./Details">Cancel</a>
</form>