@page
@model IndexModel
@{
    ViewData["Title"] = "Leader Boards";
}

<h1>Leader Boards</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center" style="width: 100px;">Learners</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaderBoard in Model.LeaderBoards)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@leaderBoard.Id">@leaderBoard.Name</a>
                    <div class="d-block">
                        https://@Request.Host/Public/LeaderBoards/@leaderBoard.Id<a class="ml-2" href="https://@Request.Host/Public/LeaderBoards/@leaderBoard.Id" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </td>
                <td class="text-center" style="width: 100px;">@leaderBoard.NumberOfLearners</td>
            </tr>
        }
    </tbody>
</table>

@if (this.User.IsInRole("Administrator"))
{
    <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i><span>Add Leader Board</span></a>
}