<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Azure Ladders</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/vendor/@@fortawesome/fontawesome-pro/js/all.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous"
              asp-fallback-href="~/vendor/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
        <link rel="stylesheet"
              href="~/css/site.min.css"
              asp-append-version="true" />
        <script src="https://pro.fontawesome.com/releases/v5.6.3/js/all.js"
                asp-fallback-src="~/vendor/@@fortawesome/fontawesome-pro/js/all.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha384-4Gm0M5DjJ0zGaEtLu0ztNIoHWiuJ5rKiaVlpZKeNqXAW49eIIa2ymxb3C4c3uEXR"
                crossorigin="anonymous"></script>
    </environment>
</head>
<body>

    <header class="navbar navbar-expand-md navbar-light bg-light">
        <a asp-page="/Index" class="navbar-brand">Azure Ladders</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" asp-page="/Index">Home</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-item nav-link" asp-page="/LeaderBoards/Index">Ladders</a>
                    <a class="nav-item nav-link" asp-page="/Learners/Index">Learners</a>
                }
            </div>
            <partial name="_LoginPartial" />
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <hr />
            <p>&copy; 2018 - Microsoft</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/vendor/jquery/dist/jquery.js"></script>
        <script src="~/vendor/popper.js/dist/popper.js"></script>
        <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                asp-fallback-src="~/vendor/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                asp-fallback-src="~/vendor/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                asp-fallback-src="~/vendor/popper.js/dist/popper.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
