@page
@model TermsModel
@{
    ViewData["Title"] = "Terms";
}
<h2>Terms</h2>

<h3>Cloud Skills Challenge Rules</h3>

<h4>1. SPONSOR</h4>

<p>These Official Rules (“Rules”) govern the operation of the Microsoft Cloud Skills Challenge, Microsoft Corporation, One Microsoft Way, Redmond, WA, 98052, USA, is the challenge sponsor (“Sponsor”).</p>

<h4>2. DEFINITIONS</h4>

<p>In these Rules, "Microsoft", "we", "our", and "us" refer to Sponsor and “you” and "yourself" refers to a challenge participant, which may be an individual person or an authorized representative entering on behalf of a business. By entering you (your parent/legal guardian if you are a minor) agree to be bound by these rules.</p>

<h4>3. ENTRY PERIOD</h4>

<p>The Challenge will start upon notification</p>

<h4>4. ELIGIBILITY</h4>

<p>This is a Challenge open only to persons employed in the field of software research or software sales and development. You must legally reside in the 50 United States (including the District of Columbia), and be 18 years of age or older to be eligible. Minors must have consent of a parent or legal guardian.</p>
<p>Employees and directors of Microsoft Corporation and its subsidiaries, affiliates, advertising agencies, and Challenge Parties are not eligible, nor are persons involved in the execution or administration of this promotion, or the family members of each above (parents, children, siblings, spouse/domestic partners, or individuals residing in the same household). Void where prohibited.</p>
<p>If you are participating in your capacity as an employee, it is your sole responsibility to comply with your employer’s gift policies. Microsoft will not be party to any disputes or actions related to this matter. Microsoft is committed to complying with government gift and ethics rules and therefore government and public sector employees are not eligible to enter.</p>

<h4>5. HOW TO ENTER</h4>

<p>No Purchase Necessary.</p>
<p>You will receive one Challenge entry when you successfully complete the follow steps within the Entry Period:</p>
<p>1. Register for free at the Microsoft Learn website at <a href="https://docs.microsoft.com/en-us/learn/">https://docs.microsoft.com/en-us/learn/</a></p>
<p>2. Complete Registration: Use the unique contest registration URL provided by your contest sponsor.</p>
<p>The entry limit is one per person overall.</p>
<p>We are not responsible for excess, lost, late, or incomplete entries. If disputed, entries will be deemed submitted by the authorized account holder of the email address, social media account, or other method used to enter.</p>

<h4>6. Challenge Visibility</h4>

<p>Progress in the challenge will be shown via a public leaderboard. This will only show Microsoft Learn username and progress in the challenge.</p>

<h4>7. PRIZES</h4>

<p>Prizes are not governed, nor distributed by Microsoft.</p>

<h4>9. GENERAL CONDITIONS AND RELEASE OF LIABILITY</h4>

<p>To the extent allowed by law, by entering you agree to release and hold harmless Microsoft and its respective parents, partners, subsidiaries, affiliates, employees and agents from any and all liability or any injury, loss or damage of any kind arising in connection with this Challenge or any prize won.</p>
<p>All local laws apply. The decisions of Microsoft are final and binding</p>
<p>We reserve the right to cancel, change or suspend this Challenge for any reason, including cheating, technology failure, catastrophe, war or any other unforeseen or unexpected event that affects the integrity of this Challenge, whether human or mechanical. If the integrity of the Challenge cannot be restored, we may select winners from among all eligible entries received before we had to cancel, change or suspend the Challenge. Rules violators will be prosecuted to the full extent of the law and may be banned from participation in Microsoft Challenge.</p>

<h4>10. GOVERNING LAW</h4>

<p>This Challenge will be governed by the laws of the State of Washington, and you consent to the exclusive jurisdiction and venue of the courts of the State of Washington for any disputes arising out of this Challenge.</p>

<h4>11. USE OF YOUR ENTRY</h4>

<p>Personal data you provide while entering this Challenge will be used by Microsoft and/or its agents and prize fulfillers acting on Microsoft’s behalf only for the administration and operation of this Challenge and in accordance with the Microsoft Privacy Statement.</p>